.active-img-container {
  width: 400px;
}

.active-img {
  width: 100%;
}

.picture-container {
  height: 800px;
  width: 600px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img-thumbnail-container {
  width: 150px;
}

.img-thumbnail {
  width: 100%;
  margin: 5px 5px;
}

.thumbnail-row {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
