.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
}

.img-container {
  height: 500px;
  width: 500px;
}

.img {
  height: 100%;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
