.content-container {
  height: 800px;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2em;
  border: 1px solid black;
}

.info-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  border: 1px solid red;
}

.picture-container {
  width:60%;
}