.nav-container {
  width: 100%;
  border-bottom: #004990 2px solid;
  background: url('../../images/Untitled-1\ copy.png')
}

.nav-main {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

}

.img-container {
  position: relative;
  top: 50px;
  width: 200px;
  z-index: 5;
}

.img {
  width: 100%;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button-container {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.nav-button {
  height: 50px;
  margin-right: 20px;
  font-size: 2em;
  color: #004990;
  background-color: #f7f7f7;
  border: 2px solid #004990;
  border-radius: 6px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.nav-button:hover {
  background-color: #004990;
  color: #feda54;
}
